<%= form_for(@rotation) do |f| %>
  <div class="control-group">
	    <label class="control-label"><%= f.label :description, I18n.t(:Description) %></label>
    <div class="controls"><%= f.text_field :description %></div>
  </div>
  <div class="form-actions">
    <%= f.submit I18n.t(:Save), :class => "btn" %>&nbsp;
    <%= link_to I18n.t(:Back), rotations_path, :class => "btn" %>
    <% if @acao == 2 %>
    	&nbsp;<%= link_to I18n.t(:Show), @rotation, :class => "btn" %>
    <% end %>
  </div>
<% end %>
