<legend><%=t :Rotation %></legend>
<table class="table table-bordered table-striped responsive-utilities">
  <tr><th><%=t :Description %></th></tr>
  <tr><td><%= @rotation.description %></td></tr>
</table>


<div class="form-actions">
  <%= link_to I18n.t(:Edit), edit_rotation_path(@rotation), :class => "btn" %>&nbsp;
  <%= link_to I18n.t(:Back), rotations_path, :class => "btn" %>    
</div>
