<legend><%=t :Courses %></legend>

<table  class="table table-bordered table-striped responsive-utilities">
  <tr>
    <th><%=t :Name %></th>
    <th><%=t :Rotation %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.rotation.description %></td>
    <td><%= link_to "<i class='icon-list-alt'></i>&nbsp;".html_safe+I18n.t(:Show), course %></td>
    <td><%= link_to "<i class='icon-edit'></i>&nbsp;".html_safe+I18n.t(:Edit), edit_course_path(course) %></td>
    <td><%= link_to "<i class='icon-remove'></i>&nbsp;".html_safe+I18n.t(:Destroy), course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t(:New), new_course_path, :class => "btn" %>
