<h1>Listing interprises</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Fantasy name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interprises.each do |interprise| %>
  <tr>
    <td><%= interprise.name %></td>
    <td><%= interprise.fantasy_name %></td>
    <td><%= link_to 'Show', interprise %></td>
    <td><%= link_to 'Edit', edit_interprise_path(interprise) %></td>
    <td><%= link_to 'Destroy', interprise, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interprise', new_interprise_path %>
