<legend><%=t :Listing%> <%=t :interprises %></legend>

<table  class="table table-bordered table-striped responsive-utilities">
  <tr>
    <th><%=t :Name %></th>
    <th><%=t :Fantasy %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interprises.each do |interprise| %>
  <tr>
    <td><%= interprise.name %></td>
    <td><%= interprise.fantasy_name %></td>
    <td><%= link_to "<i class='icon-list-alt'></i>&nbsp;".html_safe+I18n.t(:Show), interprise %></td>
    <td><%= link_to "<i class='icon-edit'></i>&nbsp;".html_safe+I18n.t(:Edit), edit_interprise_path(interprise) %></td>
    <td><%= link_to "<i class='icon-remove'></i>&nbsp;".html_safe+I18n.t(:Destroy), interprise, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to I18n.t(:New), new_interprise_path, :class => "btn" %>
