<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @interprise.name %>
</p>

<p>
  <b>Fantasy name:</b>
  <%= @interprise.fantasy_name %>
</p>


<%= link_to 'Edit', edit_interprise_path(@interprise) %> |
<%= link_to 'Back', interprises_path %>
